  <!-- Footer -->
  <link rel="stylesheet" href="/footer.css">
    
  <footer class="footer">
    <div class="container">

<div class="footer-section">
  <div class="footer-title">About</div>
  <p>Line 1 ofewrgm32f;</p>
  <p>Line 2 of escriptio</p>
  <p>Line 3 of t2ption24qe.</p>
  <p>Line 42rdetionfr4</p>
</div>

        <div class="footer-section">
            <div class="footer-title">Contact</div>
            <p>219110302@psu.edu.sa</p>
        </div>
        <div class="footer-section">
          <div class="footer-title">Terms of Service</div>
          <p>Get in touch with us</p>
      </div>
  <div class="footer-logo">
  <img src="/logo/logo2.png" alt="Logo">
  </div>
  </div>


</footer>