  <!-- Footer -->
  <link rel="stylesheet" href="/footer.css">
    
  <footer class="footer">
    <div class="container">

<div class="footer-section">
  <div class="footer-title">About</div>
  <p> </p>
  <p>Our platform simplifies loyalty point exchange for businesses Buy and integrate points seamlessly into your infrastructure, boosting customer loyalty and engagement.</p>
  <p> </p>
</div>

        <div class="footer-section">
            <div class="footer-title">Contact Us</div>
            <p>  219110037@psu.edu.sa 
                219110302@psu.edu.sa
                 219110469@psu.edu.sa
                 218110412@psu.edu.sa</p>
        </div>
        <div class="footer-section">
          <div class="footer-title">Terms of Service</div>
          <p>By accessing and using our platform, you agree to comply with the our terms. For more detailed information, please contact us to get our full Terms of Service.
             </p>
      </div>
  <div class="footer-logo">
  <img src="/logo/logo2.png" alt="Logo">
  </div>
  </div>


</footer>