<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/otp.css">
</head>
<body>

<!-- Your main page content here -->

<div class="container text-center">


    <!-- OTP Modal -->
    <div id="otpModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <!-- Logo at the top left -->
            <div class="modal-header">
                <img src="/logo/logo2.png" alt="Logo" class="modal-logo">
                
            </div>
            <h2>OTP Verification</h2>
            <p>Please enter the OTP sent to your number: <%= data.userPhoneNumber %></p>
            <form method="post">
                <input type="text" name="code" id="otpInput" placeholder="123456" pattern="[a-z0-9.\-]{6}" minlength="6" maxlength="6" required>
                <input class="button" type="submit" value="Verify OTP">
            </form>
            <!-- <button onclick="verifyOtp()">Verify</button> -->
        </div>
    </div>


</div>


<!-- <script>
    // JavaScript for modal
    function closeOtpModal() {
        document.getElementById('otpModal').style.display = 'none';
    }

    function verifyOtp() {
        // Add OTP verification logic here
    }

    // Show modal on page load for demonstration
    window.onload = function() {
        document.getElementById('otpModal').style.display = 'block';
    }
</script> -->

</body>
</html>
