<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loyalty Points Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Main css -->
    <link rel="stylesheet" href="/public/reward.css">
</head>
<body>
    <div class="container text-center ">
        <!-- Total Points Balance (Centered) -->
        <div class="row justify-content-center" style="margin-top: 10vh;">
            <div class="col-md-6">
                <div class="gift-card">
                    <div class="gift-card-header">
                        <h2>Gift Card 1</h2>
                        <p class="card-points">500</p>
                    </div>
                    <div>
                        <ul>
                            <li class="gift-cond">Must be used witin 30 min</li>
                            <li class="gift-cond">Available only in Riyadh</li>
                          </ul>
                    </div>

                    <button class="btn btn-custom mt-2">Redeem</button>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

   

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Logo at the Top -->
        <div class="sidebar-logo">
            <img src="/public/logo/logo.jpg" alt="Logo">
        </div>


        <!-- Buttons in the Middle -->
        <div class="sidebar-middle">
            <button class="btn btn-primary sidebar-button">Add Balance</button>
            <button class="btn btn-custom sidebar-button">My Cart</button>
            <button class="btn btn-secondary sidebar-button">Redeem</button>
        </div>

    </div>



    <!-- Footer -->
    <footer class="footer">
        <div class="container">

            <div class="footer-section">
                <div class="footer-title">About</div>
                <p>Line 1 ofewrgm32f;</p>
                <p>Line 2 of escriptio</p>
                <p>Line 3 of t2ption24qe.</p>
                <p>Line 42rdetionfr4</p>
            </div>

            <div class="footer-section">
                <div class="footer-title">Contact</div>
                <p>219110302@psu.edu.sa</p>
            </div>
            <div class="footer-section">
                <div class="footer-title">Terms of Service</div>
                <p>Get in touch with us</p>
            </div>
            <div class="footer-section">

                <button class="btn btn-warning btn-sm" id="signOutButton">sign out</button>
            </div>
        </div>
    </footer>


    </div>
    </div>


    </div>
    </div>

</body>

</html>