body {
    background-color: #3c3e4a; /* Background color */
    color: #fff; /* Text color for readability */
    font-family: 'Arial', sans-serif; /* Set a default font */
}

.container {
    max-width: 1200px; /* Set a max-width for the container */
}

h2, h3 {
    color: #f0ad4e; /* Header color */
}

.card {
    background-color: #484a55; /* Slightly lighter background for cards */
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners for cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-bottom: 20px; /* Space between cards */
}

.card h4 {
    color: #ffffff; /* Header color in cards */
}

.card p {
    color: #dcdcdc; /* Paragraph color in cards */
}


/* Adjustments for centering and alignment */
.balance-display, .recent-transactions-container {
    margin: 15px; /* Center the containers */
    max-width: 600px; /* Adjust the width as needed for alignment */
}

/* Styles for the transaction list */
.transaction-card {
    max-height: 300px;
    overflow-y: auto;
    margin: 15px;
    font-weight: bold;
}



/* Button styling */
.btn-custom {
    width: 100%; /* Makes the button span the full width of the container */
}



/* Button styles */
.btn-custom {
    background-color: #f0ad4e; /* Custom button color */
    color: #ffffff; /* Text color for buttons */
    border-radius: 5px; /* Rounded corners for buttons */
}

.btn-custom:hover {
    background-color: #ec971f; /* Button hover color */
    color: #ffffff;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .card {
        margin-left: 10px;
        margin-right: 10px;
    }
}


/* Additional styles for balance display */
.balance-display {
    background-color: #484a55;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.points-balance {
    font-size: 2em;
    color: #f0ad4e;
}
.btn-add-balance {
    background-color: transparent;
    font-weight: bold;
    color: #faf2e8; /* Color of the button */
    border: none; /* No border */
    font-size: 1.3em; /* Size of the plus symbol */
    cursor: pointer; /* Cursor changes to pointer on hover */
    /*margin-left:5px; Space between the text and the button */
    vertical-align: middle; /* Align with the text */
}
.btn-add-balance:hover {
    color: rgb(255, 255, 255); /* Change color on hover */
     /* Change background on hover */
}


.list-group-item {
    background-color: #3c3e4a;
    color: #dcdcdc;
    border: none;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .balance-display, .card {
        margin: 0 10px;
    }
}


/* Styles for the transaction list */
.transaction-card {
    max-height: 300px;
    overflow-y: auto;
}

.extra {
    display: none; /* Initially hide extra transactions */
}




/* Styles for the Gift Cards Section */
.gift-cards-container {
    max-width: 600px;
    margin: auto;
    background-color: #484a55;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Styles for the Gift Cards */
.gift-card {
    background-color:blanchedalmond;
    color: #dcdcdc;
    text-align: center;
    color: #000000; /* Black color for the text */
    font-weight: bold; /* Make text bold */
    height: 150px; /* Fixed height for all cards */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Styles for the View Cart Button */
.view-cart {
    position: fixed;
    top: 30px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
}

.btn-cart {
    background-color:#f1f3ff; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none; /* Remove border */
    font-size: 1em; /* Size of the text and symbol */
    cursor: pointer;
    width: 50px; /* Square shape */
    height: 50px; /* Square shape */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    border-radius: 5px; /* Optional: Rounded corners */
}

.btn-cart:hover {
    background-color: #87b5e7; /* Darker color on hover */
}

/* ... Rest of the styles ... */





.gift-card p, .gift-card  {
    font-weight: bold; /* Make text bold */
    color: #000000; /* Ensuring text is black */
}




.add-to-cart {
    color: #007bff; /* Blue color for the link */
    text-decoration: none; /* Underline to indicate it's clickable */
    cursor: pointer;
    display: inline-block; /* To properly apply margin */
    margin-top: 10px;
}

.add-to-cart:hover {
    color: #0056b3; /* Darker blue on hover for interaction feedback */
}

/* Responsive adjustments for gift cards */
@media (max-width: 768px) {
    .gift-card {
        margin-bottom: 15px;
    }
}






/* Sidebar styles */
.sidebar {
    background-color: #2c2e3f;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the bottom section to the end */
}

.sidebar-brand {
    text-align: center;
    font-weight: bold;
 /* Spacing below the brand name */
    font-size: 20px;
}

.sidebar-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center; /* Center buttons vertically */
}

.sidebar-button {
    margin-bottom: 20px; /* Spacing between buttons */
    width: 100%; /* Full width buttons */
}

.sidebar-bottom {
    text-align: center;
    margin-top: auto; /* Push to the bottom */
}

/* Main Content Styling */
.main-content {
    margin-left: 250px; /* Same as sidebar width */
    /* ... other styles ... */
}


    .main-content {
        margin-left: 0;
    }

/* Responsive adjustments */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
    }

    .main-content {
        margin-left: 0;
    }
}



/* Footer styles */
.footer {
    background-color: #2c2e3f; /* Adjust to match your color scheme */
    color: #ffffff;
    /* padding: 20px 0; */
    /* padding: 10px 10px; */
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    
}

.footer .container {
    display: flex;
    align-items: start;
    justify-content: space-evenly; /* Evenly space items */
    flex-wrap: wrap; /* Wrap items for smaller screens */
}

.footer-section {
    text-align: center; /* Center the text within each section */
    margin-bottom: 10px;
}
.footer-section {
    /* ... existing styles ... */
    max-width: 200px; /* Control the width of the footer sections */
    margin: 10px ;
    
}

.footer-section p {
    font-size: 0.9em; /* Adjust font size for the description */
    color: #dcdcdc; /* Lighter color for the description text */
    margin: 5px 0; /* Adjust spacing between lines */
}

/* ... Rest of the styles ... */


.footer-title {
    font-weight: bold;
    color: #f0ad4e;
    margin-bottom: 5px; /* Space between title and text */
}

    .footer-section {
        margin-bottom: 20px;
    }
