body {
    background-color: #3c3e4a; /* Background color */
    color: #fff; /* Text color for readability */
    font-family: 'Arial', sans-serif; /* Set a default font */
}

.container {
    max-width: 1200px; /* Set a max-width for the container */
}

h2, h3 {
    color: #f0ad4e; /* Header color */
}

/* Button styling */
.btn-custom {
    width: 100%; /* Makes the button span the full width of the container */
}


/* Button styles */
.btn-custom {
    background-color: #f0ad4e; /* Custom button color */
    color: #ffffff; /* Text color for buttons */
    border-radius: 5px; /* Rounded corners for buttons */
}

.btn-custom:hover {
    background-color: #ec971f; /* Button hover color */
    color: #ffffff;
}

.card-points {
    font-size: 2em;
    color: #f0ad4e !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift-card {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    background-color: #484a55;
    padding: 1em;
    border-radius: 10px;
    color: white !important;
}

.gift-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    background-color: #484a55;
}

.gift-cond{
    text-align: left;
}

/* Additional styles for balance display */
.balance-display {
    background-color: #484a55;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.points-balance {
    font-size: 2em;
    color: #f0ad4e;
}
.btn-add-balance {
    background-color: transparent;
    font-weight: bold;
    color: #faf2e8; /* Color of the button */
    border: none; /* No border */
    font-size: 1.3em; /* Size of the plus symbol */
    cursor: pointer; /* Cursor changes to pointer on hover */
    /*margin-left:5px; Space between the text and the button */
    vertical-align: middle; /* Align with the text */
}
.btn-add-balance:hover {
    color: rgb(255, 255, 255); /* Change color on hover */
     /* Change background on hover */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .balance-display, .card {
        margin: 0 10px;
    }
}

/* Styles for the transaction list */
.transaction-card {
    max-height: 300px;
    overflow-y: auto;
}

.gift-card p, .gift-card  {
    font-weight: bold; /* Make text bold */
    color: #000000; /* Ensuring text is black */
}

/* Responsive adjustments for gift cards */
@media (max-width: 768px) {
    .gift-card {
        margin-bottom: 15px;
    }
}
